:root {
    --orange: #FF9668;
    --fontGrey: #4C4C4C;
    --backgroundGrey: #272D31;
    --white: #ffffff;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--fontGrey);
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
.container {
    min-width: 500px;
}
#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
#navbar {
    display: flex;
    justify-content: end;
    padding-right: 20px;

}
#nav-items {
    display: flex;
    padding: 0;
    justify-content: space-around;
    width: 50vw;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--fontGrey);
}
#hero {
    margin-top: 75px;
    text-transform: uppercase;
}
button {
    border-radius: 5px;
    border: none;
    background-color: var(--orange);
    padding: 8px;
    
}