:root {
    --orange: #FF9668;
    --fontGrey: #4C4C4C;
    --backgroundGrey: #272D31;
    --white: #ffffff;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--fontGrey);
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
.container {
    min-width: 500px;
}
#header {
    position: fixed;
    top: 0;
    min-height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
#navbar {
    display: flex;
    justify-content: end;
    padding-right: 20px;

}
#nav-items {
    display: flex;
    padding: 0;
    justify-content: space-around;
    width: 65vw;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--fontGrey);
    text-transform: uppercase;
}
#hero {
    margin-top: 60px;
    text-transform: uppercase;
    background-image: url('images/heroBkgrnd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 100vh;
    display: grid;
    
}
#hero h1 {
    font-size: 64px;
    color: var(--white);
    margin: 0px 0px 0px 40px;
    align-self: end;
}
#hero h2 {
    font-size: 32px;
    color: var(--white);
    margin: 0px 0px 0px 40px;
    align-self: center;
}
button {
    border-radius: 8px;
    border: none;
    background-color: var(--orange);
    padding: 8px 12px;
    font-weight: 800;
    margin-left: 40px;
align-self: start;
justify-self: start;
}